mixin column(member)
 |     public static final String #{upperCase(member.name)} = "#{lowerCase(member.name)}"; 
 | 

mixin columnName(member)
 |  #{upperCase(member.name)}

mixin columnType(member)
 if member.type === 'int' || member.type === 'boolean'
  |  INTEGER
 else if member.type === 'float' || member.type === 'double'
  |  NUMERIC
 else
  |  TEXT

mixin columnNameLower(member)
 |  #{lowerCase(member.name)}

mixin comma(member)
 | ,

mixin quotedComma(member)
 |  + ","

mixin questionMark()
 |  ?

mixin plus()
 |  +

| package #{packageName}.database.table;
| 
| public final class #{name}Table {
|     private #{name}Table() {}
| 
|     public static final String TABLE_NAME = "#{lowerCase(name)}";
| 
|     public static final String _ID = "_id"; 
| 
each member in members
  +column(member)
| 
|     public static final String[] ALL_COLUMNS = new String[] { _ID,
each member, i in members
  +columnName(member)
  if i < members.length - 1
    +comma()
|  };
| 
|     public static final String SQL_CREATE = "CREATE TABLE #{lowerCase(name)} ( _id INTEGER PRIMARY KEY AUTOINCREMENT,
each member, i in members
  +columnNameLower(member)
  +columnType(member)
  if i < members.length - 1
    +comma()
|  )";
| 
|     public static final String SQL_INSERT = "INSERT INTO #{lowerCase(name)} (
each member, i in members
  +columnNameLower(member)
  if i < members.length - 1
    +comma()
|  ) VALUES (
each member, i in members
  +questionMark()
  if i < members.length - 1
    +comma()
|  )";
| 
|     public static final String SQL_DROP = "DROP TABLE IF EXISTS #{lowerCase(name)}";
| 
|     public static final String WHERE_ID_EQUALS = _ID + "=?";
|}