mixin member(member)
 - if (gson)
   - if (typeof(member.serialized_name) !== 'undefined')
     |     @SerializedName("#{member.serialized_name}") 
     | 
   - else
     |     @SerializedName("#{member.name}") 
     | 
 |    private #{enumMap[member.class] || member.type} m#{camelCase(capitalize(member.name))}; 
 | 

mixin setter(member)
 |     public final void set#{camelCase(capitalize(member.name))}(#{enumMap[member.class] || member.type} #{camelCase(member.name)}) {
 |         m#{camelCase(capitalize(member.name))} = #{camelCase(member.name)};
 |         mValues.put(
 +getTableValue(member)
 | , #{camelCase(member.name) + (member.class ? '.name()' : '')});
 |     }
 | 

mixin getter(member)
 |     public #{enumMap[member.class] || member.type} get#{camelCase(capitalize(member.name))}() {
 |         return m#{camelCase(capitalize(member.name))};
 |     }
 | 

mixin getTableValue(member)
 | #{capitalize(name)}Table.#{upperCase(member.name)}

mixin getTableValueWithPrefix(member)
 | prefix + #{capitalize(name)}Table.#{upperCase(member.name)}

mixin setContentValues(member)
 - if (member.type === 'boolean')
  |        set#{camelCase(capitalize(member.name))}(cursor.isNull(cursor.getColumnIndex(
  +getTableValueWithPrefix(member)
  | )) ? false : cursor.getInt(cursor.getColumnIndex(
  +getTableValueWithPrefix(member)
  | )) != 0); 
  | 
 - else if (member.type === 'enum')
  |        set#{camelCase(capitalize(member.name))}(#{enumMap[member.class]}.valueOf(cursor.getString(cursor.getColumnIndex(
  +getTableValueWithPrefix(member)
  | )))); 
  | 
 - else
  |        set#{camelCase(capitalize(member.name))}(cursor.get#{capitalize(member.type)}(cursor.getColumnIndex(
  +getTableValueWithPrefix(member)
  | ))); 
  | 

mixin fromParcel(member)
 - if (member.type === 'boolean')
  |         set#{camelCase(capitalize(member.name))}(parcel.readInt() == 0); 
  | 
 - else if (member.type === 'enum')
  |         set#{camelCase(capitalize(member.name))}(#{enumMap[member.class]}.valueOf(parcel.readString())); 
  | 
 - else
  |         set#{camelCase(capitalize(member.name))}(parcel.read#{capitalize(member.type)}()); 
  | 

mixin toParcel(member)
 - if (member.type === 'boolean')
  |         parcel.writeInt(get#{camelCase(capitalize(member.name))}() ? 1 : 0); 
  | 
 - else if (member.type == 'enum')
  |         parcel.writeString(get#{camelCase(capitalize(member.name))}().name()); 
  | 
 - else
  |         parcel.write#{capitalize(member.type)}(get#{camelCase(capitalize(member.name))}()); 
  | 

mixin importEnum(enumName)
 | import #{enumName};
 | 

| package #{packageName}.model;
| 
| import android.content.ContentValues;
| import android.database.Cursor;
| 
- if (parcelable)
  | import android.os.Parcel;
  | import android.os.Parcelable;
  | 
| 
- if (gson)
  | import com.google.gson.annotations.SerializedName;
  | 
| 
| import #{packageName}.database.table.#{name}Table; 
| 
each enumName in enums
  +importEnum(enumName)
| 
| import java.util.ArrayList;
| import java.util.List;
| 
- if (parcelable)
  | public class #{name} implements Parcelable {
  | 
- else
  | public class #{name} {
  | 
|    private long mRowId;
| 
each member in members
  +member(member)
| 
|     private ContentValues mValues = new ContentValues();
| 
|     public #{name}() {}
| 
|     public #{name}(final Cursor cursor) {
|         this(cursor, false);
|     }
| 
|     public #{name}(final Cursor cursor, boolean prependTableName) {
|         String prefix = prependTableName ? #{name}Table.TABLE_NAME + "_" : "";

|         setRowId(cursor.getLong(cursor.getColumnIndex(prefix + #{name}Table._ID)));
| 
each member in members
  +setContentValues(member)
|    }
| 
- if (parcelable)
  |     public #{name}(Parcel parcel) {
  |         mRowId = parcel.readLong();
  | 
  each member in members
    +fromParcel(member)
  |    }
  |     
  |     @Override
  |     public int describeContents() {
  |         return 0;
  |     }
  | 
  |     @Override
  |     public void writeToParcel(Parcel parcel, int flags) {
  |         parcel.writeLong(mRowId);
  | 
  each member in members
    +toParcel(member)
  |    }
  | 
  |     public static final Creator<#{name}> CREATOR = new Creator<#{name}>() {
  |         public #{name} createFromParcel(Parcel in) {
  |             return new #{name}(in);
  |         }
  | 
  |         public #{name}[] newArray(int size) {
  |             return new #{name}[size];
  |         }
  |     };
  | 
| 
|     public final void setRowId(long _id) {
|         mRowId = _id;
|         mValues.put(#{name}Table._ID, _id);
|     }
| 
each member in members
  +setter(member)
|  
|     public long getRowId() {
|         return mRowId;
|     }
| 
each member in members
  +getter(member)
|   
|     public ContentValues getContentValues() {
|         return mValues;
|     }
|   
|     public static List<#{name}> listFromCursor(Cursor cursor) {
|         List<#{name}> list = new ArrayList<#{name}>();
| 
|         if (cursor != null && cursor.moveToFirst()) {
|             do {
|                 list.add(new #{name}(cursor));
|             } while (cursor.moveToNext());
|         }
| 
|         return list;
|     }
| 
|     // BEGIN PERSISTED SECTION - put custom methods here
| !{persistedSection}
|     // END PERSISTED SECTION
|}