mixin column(member)
 |     public static final String #{upperCase(member.name)} = "#{lowerCase(member.name)}"; 
 | 

mixin columnName(member)
 |  #{upperCase(member.name)}

mixin columnType(member)
 if member.type === 'int' || member.type === 'boolean'
  |  INTEGER
 else if member.type === 'float' || member.type === 'double'
  |  NUMERIC
 else if member.type === 'byte[]'
  |  BLOB
 else if member.type === 'Date'
  |  LONG
 else
  |  TEXT

mixin columnDefault(member)
  if (member.hasOwnProperty('default')) 
    if (member.default == null)
      |  DEFAULT NULL
    else if (member.type == 'String')
      |  DEFAULT '#{member.default}'
    else if (member.type == 'boolean')
      if (member.default)
        |  DEFAULT 1
      else
        |  DEFAULT 0
    else
      |  DEFAULT #{member.default}

mixin columnConstraints(member)
  if (member.notNull)
   |  NOT NULL
  if (member.unique)
   |  UNIQUE

mixin columnNameLower(member)
 |  #{lowerCase(member.name)}

mixin comma(member)
 | ,

mixin quotedComma(member)
 |  + ","

mixin questionMark()
 |  ?

mixin plus()
 |  +

| package #{packageName}.database.table;
| 
| public final class #{name}Table {
|     private #{name}Table() {}
| 
|     public static final String TABLE_NAME = "#{lowerCase(name)}";
| 
|     public static final String _ID = "_id"; 
| 
each member in members
  +column(member)
| 
|     public static final String[] ALL_COLUMNS = new String[] { _ID,
each member, i in members
  +columnName(member)
  if i < members.length - 1
    +comma()
|  };
| 
|     public static final String SQL_CREATE = "CREATE TABLE #{lowerCase(name)} (_id INTEGER PRIMARY KEY AUTOINCREMENT,

each member, i in members
  +columnNameLower(member)
  +columnType(member)
  +columnDefault(member)
  +columnConstraints(member)
  if i < members.length - 1
    +comma()
each relationship in relationships
  if (name == relationship.child)
    +comma() 
    |  FOREIGN KEY(#{relationship.child_column}) REFERENCES #{lowerCase(relationship.parent)}(#{relationship.parent_column})
    if (relationship.on_update)
      |  ON UPDATE #{upperCase(relationship.on_update)}
    if (relationship.on_delete)
      |  ON DELETE #{upperCase(relationship.on_delete)}
each constraint in constraints
  +comma()
  if (constraint.type == 'unique')
    |  UNIQUE(
    each member, i in constraint.members
      +columnNameLower({ name: member })
      if i < constraint.members.length - 1
        +comma()
    |  )
| )";
| 
|     public static final String SQL_INSERT = "INSERT INTO #{lowerCase(name)} (
each member, i in members
  +columnNameLower(member)
  if i < members.length - 1
    +comma()
|  ) VALUES (
each member, i in members
  +questionMark()
  if i < members.length - 1
    +comma()
|  )";
| 
|     public static final String SQL_DROP = "DROP TABLE IF EXISTS #{lowerCase(name)}";
| 
|     public static final String WHERE_ID_EQUALS = _ID + "=?";
|}
