include ../templates/model~mixins.jade

-if (package)
  | package #{packageName}.model.#{package};
-else
  | package #{packageName}.model;  
| 
| 
- if (parcelable)
  | import android.os.Parcel;
  | import android.os.Parcelable;
  | 
- if (importSerializable)
  | import java.io.Serializable;
  | 
| 
- if (gson)
  | import com.google.gson.annotations.SerializedName;
  | 
| 
each enumName in enums
  +importEnum(enumName)
| 
each modelName in models
  +importModel(modelName)
| 
- if (importDate && importLists)
 | import java.util.ArrayList;
 | import java.util.Date;
 | import java.util.List;
 | 
- else if (importLists)
 | import java.util.ArrayList;
 | import java.util.List;
 | 
- else if (importDate)
 | import java.util.Date;
 | 
| 
- if (parcelable)
  | public class #{name} implements Parcelable {
  | 
- else
  | public class #{name} {
  | 
| 
each member in members
  +member(member)
| 
|     public #{name}() {}
| 
| 
- if (parcelable)
  |    public #{name}(Parcel parcel) { 
  each member in members
    +fromParcel(member)
  |    }
  |     
  |     @Override
  |     public int describeContents() {
  |         return 0;
  |     }
  | 
  |     @Override
  |     public void writeToParcel(Parcel parcel, int flags) { 
  each member in members
    +toParcel(member)
  |    }
  | 
  |     public static final Creator<#{name}> CREATOR = new Creator<#{name}>() {
  |         public #{name} createFromParcel(Parcel in) {
  |             return new #{name}(in);
  |         }
  | 
  |         public #{name}[] newArray(int size) {
  |             return new #{name}[size];
  |         }
  |     };
  | 
|  
each member in members
  +pojoSetter(member)
|  
each member in members
  +getter(member)
| 
|     // BEGIN PERSISTED SECTION - put custom methods here
| !{persistedSection}
|     // END PERSISTED SECTION
|}