include ../templates/model~mixins.jade

-if (package)
  | package #{packageName}.model.#{package};
-else
  | package #{packageName}.model;  
| 
| 
| import android.content.ContentValues;
| import android.database.Cursor;
| 
+imports(true)
| 
| import #{packageName}.database.table.#{name}Table; 
| 
| import java.util.Set;
| 
+classDeclaration
|    private transient long mRowId;
| 
each member in members
  +member(member)
| 
|     private transient ContentValues mValues = new ContentValues();
- if (classes || classLists)
  |     private transient Gson mGson = getGson();
  | 
| 
|     public #{name}() {}
+constructors
|  
|     public #{name}(final Cursor cursor) {
|         this(cursor, false, null);
|     }
|  
|     public #{name}(final Cursor cursor, Set<String> fields) {
|         this(cursor, false, fields);
|     }
| 
|     public #{name}(final Cursor cursor, boolean prependTableName, Set<String> fields) {
|         String prefix = prependTableName ? #{name}Table.TABLE_NAME.replace("`", "") + "_" : "";
| 
|         if (shouldSet(cursor, fields, prefix + #{name}Table._ID)) { 
|             setRowId(cursor.getLong(cursor.getColumnIndex(prefix + #{name}Table._ID)));
|         } 
| 
each member in members
  +setContentValues(member)
|    }
|     
|     private boolean shouldSet(Cursor cursor, Set<String> fields, String field) {
|         return cursor.getColumnIndex(field) != -1 && !cursor.isNull(cursor.getColumnIndex(field)) && (fields == null || fields.contains(field));
|     }
| 
- if (parcelable)
  |     public #{name}(Parcel parcel) {
  |         mRowId = parcel.readLong();
  | 
  each member in members
    +fromParcel(member)
  |    }
  | 
  |     @Override
  |     public int describeContents() {
  |         return 0;
  |     }
  | 
  |     @Override
  |     public void writeToParcel(Parcel parcel, int flags) {
  |         parcel.writeLong(mRowId);
  | 
  each member in members
    +toParcel(member)
  |    }
  | 
  |     public static final Creator<#{name}> CREATOR = new Creator<#{name}>() {
  |         public #{name} createFromParcel(Parcel in) {
  |             return new #{name}(in);
  |         }
  | 
  |         public #{name}[] newArray(int size) {
  |             return new #{name}[size];
  |         }
  |     };
  | 
| 
|     public final void setRowId(long _id) {
|         mRowId = _id;
|         mValues.put(#{name}Table._ID, _id);
|     }
| 
each member in members
  +setter(member)
|  
|     public long getRowId() {
|         return mRowId;
|     }
| 
each member in members
  +getter(member)
| 
|     public ContentValues getContentValues() {
|         return mValues;
|     }
|   
|     public static List<#{name}> listFromCursor(Cursor cursor, Set<String> fields) {
|         List<#{name}> list = new ArrayList<#{name}>();
| 
|         if (cursor != null && cursor.moveToFirst()) {
|             do {
|                 list.add(new #{name}(cursor, fields));
|             } while (cursor.moveToNext());
|         }
| 
|         return list;
|     }
|   
|     public static List<#{name}> listFromCursor(Cursor cursor) {
|         return listFromCursor(cursor, null);
|     }
| 
|     // BEGIN PERSISTED SECTION - put custom methods here
| !{persistedSection}
|     // END PERSISTED SECTION
- if (gson && !noTypeAdapter)
  +typeAdapter(name, types, members)
| 
|}