mixin member(member)
 |     private #{member.type} m#{capitalize(member.name)}; 
 | 

mixin getter(member)
 |     public #{member.type} get#{capitalize(member.name)} {
 |         return m#{capitalize(member.name)};
 |     }
 | 

mixin setter(member)
 |     public void set#{capitalize(member.name)}(#{member.type} #{member.name}) {
 |         m#{capitalize(member.name)} = #{member.name};
 |     }
 | 

| public class #{name} {

each member in members
  +member(member)

| 
| 
each member in members
  +getter(member)

| 
| 
each member in members
  +setter(member)
| 
|}