include ../templates/model~mixins.jade

-if (package)
  | package #{packageName}.model.#{package};
-else
  | package #{packageName}.model;  
| 
| 
+imports(false)
| 
+classDeclaration 
each member in members
  +member(member)
| 
|     public #{name}() {}
+constructors 
- if (parcelable)
  |    public #{name}(Parcel parcel) { 
  - if (baseClass)
    |         super(parcel);
    | 
  each member in members
    +fromParcel(member)
  |    }
  |     
  |     @Override
  |     public int describeContents() {
  |         return 0;
  |     }
  | 
  |     @Override
  |     public void writeToParcel(Parcel parcel, int flags) { 
  - if (baseClass)
    |         super.writeToParcel(parcel, flags);
    | 
  each member in members
    +toParcel(member)
  |    }
  | 
  |     public static final Creator<#{name}> CREATOR = new Creator<#{name}>() {
  |         public #{name} createFromParcel(Parcel in) {
  |             return new #{name}(in);
  |         }
  | 
  |         public #{name}[] newArray(int size) {
  |             return new #{name}[size];
  |         }
  |     };
  | 
each member in members
  +pojoSetter(member)
|  
each member in members
  +getter(member)
| 
|     // BEGIN PERSISTED SECTION - put custom methods here
| !{persistedSection}
|     // END PERSISTED SECTION
- if (gson && !noTypeAdapter)
  +typeAdapter(name, types, members)
| 
|}
